[Desktop Entry]
Name=Monitorized Shell Client
Exec=mate-terminal --hide-menubar -t "mosh client" mosh -e mosh-tui
Icon=terminal
Terminal=false
Type=Application
StartupNotify=false
MimeType=application/x-tgif;
Categories=System;TerminalEmulator;Utility;
