[Desktop Entry]
Name=mosh
Comment=mosh client
Exec=roxterm -e mosh-tui
Icon=roxterm
Terminal=false
Type=Application
StartupNotify=false
MimeType=application/x-tgif;
Categories=System;TerminalEmulator;Utility;
