[Desktop Entry]
Name=Monitorized Shell Client
Exec=roxterm -T mosh -e mosh-tui
Icon=roxterm
Terminal=false
Type=Application
StartupNotify=false
MimeType=application/x-tgif;
Categories=System;TerminalEmulator;Utility;
